* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* CONTENEDOR GENERAL */
.app {
  width: 100%;
  max-width: 420px;
  padding: 40px 20px 100px;
  text-align: center;
}

/* TITULO */
h1 {
  font-size: 42px;
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  opacity: 0.9;
}

/* NUMEROS */
#numeros {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 14px;
  margin: 30px auto;
}

#numeros button {
  height: 62px;
  font-size: 20px;
  border-radius: 14px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.15s ease;
}

#numeros button:active {
  transform: scale(0.95);
}

/* ESTADOS */
.disponible {
  background: #ecf0f1;
  color: #2c3e50;
}

.pendiente {
  background: #f1c40f;
  color: black;
}

.revision {
  background: #e74c3c;
  color: white;
}

.pagado {
  background: #3498db;
  color: white;
}

/* MENSAJE */
#mensaje {
  font-size: 18px;
  margin: 15px 0;
}

/* PAGO */
#pago {
  background: rgba(255,255,255,0.12);
  padding: 16px;
  border-radius: 14px;
  margin: 15px auto;
}

#btnPago {
  width: 100%;
  padding: 14px;
  font-size: 17px;
  border-radius: 12px;
  border: none;
  background: #1abc9c;
  color: white;
  cursor: pointer;
}

/* VENDIDOS */
#vendidos {
  margin-top: 25px;
  font-size: 16px;
}

/* BARRA */
.barra {
  width: 100%;
  height: 16px;
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
}

#progreso {
  height: 100%;
  width: 0%;
  background: #2ecc71;
  transition: width 0.3s ease;
}

/* BOTON ADMIN */
#btnAdmin {
  position: fixed;
  bottom: 18px;
  right: 18px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background: black;
  color: white;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

/* PANEL ADMIN */
#panelAdmin {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.95);
  color: white;
  padding: 25px;
  z-index: 2000;
  }  
/* LOGO 3D */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 30px 0 10px;
}

.bola-logo {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: radial-gradient(circle at top left, #ffffff, #4aa3df, #0b3c5d);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  color: white;
  box-shadow:
    inset -8px -8px 15px rgba(0,0,0,0.5),
    inset 8px 8px 15px rgba(255,255,255,0.3),
    0 20px 35px rgba(0,0,0,0.6);
  animation: flotar 4s ease-in-out infinite;
}

.texto-logo {
  font-size: 42px;
  font-weight: 800;
  letter-spacing: 3px;
}

.subtitulo {
  font-size: 18px;
  opacity: 0.85;
  margin-bottom: 25px;
}

@keyframes flotar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
